<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>This is about Page</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, doloremque, dolorum, ea, eius, 
                eos, eveniet, fugiat, harum, ipsa, ipsam, iste, itaque, laborum, magni, molestiae, nam, natus, 
                neque, nihil, nostrum, nulla, odio, officia, omnis, perspiciatis, placeat, porro, quae, quam, 
                quas, quis, quod, quos, ratione, repellendus, rerum, sapiente, sequi, sint, sit, sunt, tempora, 
                temporibus, totam, ut, vel, veritatis, vero, voluptas, voluptate, voluptates, voluptatum, voluptatum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sint tenetur doloremque debitis placeat impedit recusandae nulla, illum consectetur alias quam quo voluptates, quas amet quod deserunt architecto, beatae itaque?</p>
        </section>
    </main>

    <script src="/assets/js/script.js"></script>

</body>
</html>